<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <connectionStrings>
    <!--<add name="InvoiceEntities" connectionString="metadata=res://*/InvoiceEntities.csdl|res://*/InvoiceEntities.ssdl|res://*/InvoiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=143.95.251.3;initial catalog=CustomerInvoiceDB;integrated security=false;User=carpet;Password=carpet@786;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="InvoiceGenerator.Properties.Settings.CustomerInvoiceDBConnectionString" connectionString="Data Source=143.95.251.3;Initial Catalog=CustomerInvoiceDB;Integrated Security=false;User ID=carpet;Password=carpet@786" providerName="System.Data.SqlClient"/>-->
  
  <add name="InvoiceEntities" connectionString="metadata=res://*/InvoiceEntities.csdl|res://*/InvoiceEntities.ssdl|res://*/InvoiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP-ENVY_X360;initial catalog=CustomerInvoiceDB;integrated security=false;User=sa;Password=admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="InvoiceGenerator.Properties.Settings.CustomerInvoiceDBConnectionString" connectionString="Data Source=HP-ENVY_X360;Initial Catalog=CustomerInvoiceDB;Integrated Security=false;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SMTPClient" value="web.ozwebguru.com.au" />
    <add key="Port" value="587" />
    <add key="EnableSsl" value="false" />
    <add key="UserName" value="info@ozwebguru.com.au" />
    <add key="Password" value="info1978" />
    <add key="AdminEmail" value="info@ozwebguru.com.au" />
    <add key="bcc" value="mok.developer@gmail.com,zahidabu@gmail.com,zainminhaj@gmail.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
